/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/scss/bootstrap-reboot';
@import '../node_modules/bootstrap/scss/bootstrap-grid';
@import '../node_modules/bootstrap/scss/_utilities';
@import '../node_modules/bootstrap/scss/_pagination';
@import 'styles-reset';

h1.title {
    padding: 20px 0;
}
.page-item.active .page-link {
    background-color: #212121;
    border-color: #212121;
}
.page-link:focus {
    box-shadow: none;
}
.spinner-border {
    display: inline-block;
    width: 100px;
    height: 100px;
    vertical-align: text-bottom;
    border: .30em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
}
.pagination {
    margin-top: 20px;
}